@import url{'https://fonts.googleapis.com/css?family=Martel:300'};

@import url{'https://fonts.googleapis.com/css?family=Raleway:800'};

@import url{'https://fonts.googleapis.com/css?family=Inconsolata:400'};

body {
}

.reveal {
    font-family: "Martel", serif;
    font-size: 24px;
    font-weight: 300;
}

.reveal .level2 {
    text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-align: center;
}

.reveal code {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    color: #a37575;
}

.reveal pre {
    font-size: 100%;
}
